.container{
    width: 100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsla(120, 90%, 40%, 0.5);
    gap: 15px;

}

.display-results{
    border : 1px solid black;
    padding: 10px;
}