body, html {
    height: 100%;
    font-family: "Montserrat";
    color:rgb(0, 0, 0);
    line-height: 1.4;
}
.container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1{
  font-size: 3.815rem;
  font-size: clamp(3.815rem, 3.456rem + 1.7950000000000004vw, 5.61rem);;
}
  
h2{
  font-size: 3.052rem;
  font-size: clamp(3.052rem, 2.8206rem + 1.1569999999999996vw, 4.209rem);
}
  
h3{
  font-size: 2.441rem;
  font-size: clamp(2.441rem, 2.2977999999999996rem + 0.7160000000000002vw, 3.157rem);
}
  
h4{
  font-size: 1.953rem;
  font-size: clamp(1.953rem, 1.8698000000000001rem + 0.41600000000000015vw, 2.369rem);    
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    padding-bottom: 0.5lh;
    padding-top: 0.5lh;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.33rem;

}

ul {
    display: flex;
    list-style-type: none;
    gap: 100px;
    flex-direction: row;
    padding-left: 200px;
}

a {
    text-decoration: none;
    color: black;
}

head {
    display: flex;
    min-height: 4%;
    width: 100%;
    background-color: rgb(241, 222, 222);
    
}

.hero {
    background-image: url(https://the18.com/sites/default/files/feature-images/GettyImages-634168108.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    position: sticky;
    min-height: 60vh;
    min-width: 100%;
    opacity: 90%;
    flex: 1;
}

@keyframes scale {
    50% {
        transform: scale(0.5);
    }
}

.img {
    padding-right: 5vw;
    border-right: black groove;
    border-width: thin;
    animation-name: scale;
    animation-duration: 3s;
}

h1 {
    font-size: 4.972rem;
    text-align: center;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
}

p {
    font-size: 11.872/2.986;
}

.link {
    font-weight: bold;
}

form {
    display: inline-block;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    padding-top: 20px;
  }
  
p + p {
    margin-top: 1em;
  }
  
label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    outline-style: solid;
    outline-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    padding-left: 90px; 
  }
  
  button {
    margin-left: 0.5em;
  }

  @media (max-width: 1015px) {
    h1{
      font-size: 5.61rem;
    }
    
    h2{
      font-size: 4.209rem;
    }
    
    h3{
      font-size: 3.157rem;
    }
    
    h4{
      font-size: 2.369rem;
    }
   header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: bold;
        padding-bottom: 0.5lh;
        padding-top: 0.5lh;
        scale: 0.85;
   }

@media (max-width: 880px) {
    
h1{
  font-size: 3.815rem;
}

h2{
  font-size: 3.052rem;
}

h3{
  font-size: 2.441rem;
}

h4{
  font-size: 1.953rem;
}
.img {
    transform: scale(0.65);
   }
.hero {
    background-image: url(https://the18.com/sites/default/files/feature-images/GettyImages-634168108.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    height: auto;
    min-width: 100%;
    opacity: 90%;
    flex: 1;

}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 0.5lh;
    padding-top: 0.5lh;
    scale: 0.75;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 80px;
    flex-direction: row;
    padding-left: 80px;
}
}


@media (max-width: 620px) {
    .img {
        transform: scale(0.5);
       }
    .hero {
        background-image: url(https://the18.com/sites/default/files/feature-images/GettyImages-634168108.jpg);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        position: sticky;
        opacity: 90%;
        flex: 1;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: bold;
        padding-bottom: 0.5lh;
        padding-top: 0.5lh;
        scale: 0.65;
        font-size: larger;
    }
    ul {
        display: flex;
        list-style-type: none;
        gap: 50px;
        flex-direction: row;
        padding-left: 25px;
    }
}

@media (max-width: 440px) {
    .hero {
        background-image: url(https://the18.com/sites/default/files/feature-images/GettyImages-634168108.jpg);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        position: sticky;
        opacity: 90%;
        flex: 1;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: bold;
        transform: scale(0.9);
        font-size: larger;
    }
    ul {
        display: flex;
        list-style-type: none;
        gap: 28px;
        flex-direction: row;
        padding-left: 5px;
    }
    head {
        display: flex;
        min-height: 2%;
        width: 100%;
        background-color: rgb(241, 222, 222);
        
    }
  }
}

.button1{
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;

  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: hotpink;
  margin-bottom: 2rem;
}

#one {
  position: relative;
  overflow: hidden;
}

#one span {
  position: relative;
  z-index: 2;
}

#one:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 0;
  height: 0;
  background-color: lightcoral;
  border-radius: 999px;
  transition: 0.6s ease-out;
}

#one:hover:after{
  width: 200%;
  padding-top: 200%;
}
