body, html {
    height: 100%;
    font-family:"PT sans", sans-serif;
    color:rgb(0, 0, 0);
    line-height: 1.4;
}

.container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    border:  black 2px solid;;

}

.center {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

ul {
    flex-direction: row;
    list-style-type: none;
}

.link {
    flex-direction: row;
}